<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>식 기본 객체 (Expression Basic Objects)</h1>
<ul>
    <li>request = <span th:text="${#request}"></span></li>
    <li>response = <span th:text="${#response}"></span></li>
    <li>session = <span th:text="${#session}"></span></li>
    <li>servletContext = <span th:text="${#servletContext}"></span></li>
    <li>locale = <span th:text="${#locale}"></span></li>
</ul>
<h1>편의 객체</h1>
<ul>
    <!-- 클라이언트의 쿼리 파라미터 요청 값을 param 이라는 키워드로 .쿼리 파라미터 key에 접근해 바로 사용 가능 -->
    <li>Request Parameter = <span th:text="${param.paramData}"></span></li>
    <!-- 컨트롤러에서 직접 담아놓은 세선 꺼내 쓰기 -->
    <li>session = <span th:text="${session.sessionData}"></span></li>
    <!-- 스프링 빈 이름으로 접근해서 사용하기
         helloBean의 hello 메소드에 'Spring' 파라미터 넘기면서 호출
         컨트롤러에서 'Spring' 파라미터 받고 'Hello Spring! 으로 다시 탬플릿 엔진에 리턴 -->
    <li>spring bean = <span th:text="${@helloBean.hello('Spring!')}"></span></li>
</ul>
</body>
</html>